*{
    box-sizing: border-box;
}

#container {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

.row::after {
    clear: both;
}

[class*="col-"] {
    float: left;
    padding: 5px;
}

html {
    
    font-family: Helvetica, Arial,sans-serif;
    background-color: #EFEFEF;
}

.header {
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.aside {
    padding: 5px;
    text-align: center;
    display: grid;
}

.col-3 {
    width: 25%;
    float: right;
}

.col-9 {
    width: 75%;
}

#container div {
    display: flex;
    min-width: 33%;
    height: 13vw;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 10vw;
    max-height: 250px;
}



.button {
    background-color: #72C3DC;
    border: transparent;
    border-radius: 10px;
    padding: 16px;
    font-size: 14px;
    color: #FFFFFF;
    margin: 5px 0px;
    border-bottom: 5px solid #2B8EAD;
}

@media only screen and (max-width: 376px) {
    html {
        background-color: #ffffff;
    }

    [class*="col-"] {
        width: 100%;
    }


    [id*="box"] {
        background-color: red; 
    }

    #container div {
        min-width: 100%;
        height: 40px;
        margin: 2px 0px;
        background-color: #EFEFEF !important;
        color: #000000;
        font-size: 1em;
    }

    .col-3 .aside {
        display: block;
    }

    .button {
        width: 100px;
    }

    .header {
        background-color: #333333;
        color: #FFFFFF;
        text-align: center;
        margin: -8px
    }

}
